apiVersion: proxy.open-cluster-management.io/v1alpha1
kind: ManagedProxyConfiguration
metadata:
  name: cluster-proxy
spec:
  authentication:
    dump:
      secrets: {}
    signer:
      type: SelfSigned
  proxyServer:
    image: {{ .Values.global.imageOverrides.cluster_proxy_addon }}
    namespace: {{ .Release.Namespace }}
    replicas: 1
    entrypoint:
      type: Hostname
      hostname:
        value: {{ template "cluster-proxy-addon.anpPublicHost" . }}
      port: 443
    additionalArgs:
      "--keepalive-time=30s"
  proxyAgent:
    image: {{ .Values.global.imageOverrides.cluster_proxy_addon }}
    replicas: 1
